<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cloudstudy.cloud.repository.CloudFileMapper">


    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into cloud_file_meta_data (upload_file_name, store_file_name)
        values (#{originalFileName}, #{uploadFileName})
    </insert>

    <insert id="saveAll" parameterType="java.util.List">
        INSERT INTO cloud_file_meta_data (upload_file_name, store_file_name, cloud_id) VALUES
        <foreach collection="list" item="cloudFileDTO" separator=",">
            (#{cloudFileDTO.originalFileName}, #{cloudFileDTO.uploadFileName}, #{cloudFileDTO.cloudId})
        </foreach>
    </insert>


    <select id="findByIds" resultType="com.cloudstudy.cloud.domain.CloudFile">
        select
                id as id ,
                cloud_id AS cloudId,
                store_file_name AS uploadFileName,
                upload_file_name AS originalFileName
            from
                cloud_file_meta_data
            where
                cloud_id = #{cloudId}

    </select>
</mapper>

