<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>상품 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/cloudStudy/add}'|"
                    type="button">상품 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>클라우드명</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="cloud : ${clouds}">
                <td><a href="cloud.html" th:href="@{/cloudStudy/{cloudId}(cloudId=${cloud.id})}" th:text="${cloud.id}">id</a></td>
                <td><a href="cloud.html" th:href="@{|/cloudStudy/${cloud.id}|}" th:text="${cloud.name}">클라우드 명</a></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

</body>
</html>